[Desktop Entry]
Name=XMLmind XML Editor
Comment=Edit XML Data
GenericName=XML Document editor
GenericName[es]=Editor de archivos XML
GenericName[fr]=Editeur de fichiers XML
Exec=xlingpaper
Path=${SNAP}/opt/xxe-perso-8_2_0/bin
Icon=${SNAP}/opt/xxe-perso-8_2_0/bin/icon/xxe.ico
MimeType=text/xml;
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;Education
StartupNotify=false
